# Import Libraries

In [1]:
import numpy as np
import pandas as pd

In [15]:
#load our dataset
r_cols = ['user_id', 'movie_id', 'rating']
ratings = pd.read_csv('u.data', sep = '\t', names = r_cols, usecols = range(3))

m_cols = ['movie_id', 'title']
movies = pd.read_csv('u.item', sep = '|', names = m_cols, usecols = range(2), encoding='latin-1')

ratings = pd.merge(movies, ratings)

In [16]:
ratings.head()

   movie_id             title  user_id  rating
0         1  Toy Story (1995)      308       4
1         1  Toy Story (1995)      287       5
2         1  Toy Story (1995)      148       4
3         1  Toy Story (1995)      280       4
4         1  Toy Story (1995)       66       3

In [23]:
#transforms our ratings table to a new table that contains movie titles as columns for every user_id with their values
movieRatings = ratings.pivot_table(index = ['user_id'], columns = ['title'], values = 'rating')

In [27]:
movieRatings.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
user_id,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,2.0,5.0,NaN,NaN,3.0,4.0,NaN,NaN,...,NaN,NaN,NaN,5.0,3.0,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,2.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,4.0,NaN

In [33]:
#we see here the users that watched 12 angry men 1957
angryMen = movieRatings['12 Angry Men (1957)']
angryMen.head()

user_id
1    5.0
2    NaN
3    NaN
4    NaN
5    NaN
Name: 12 Angry Men (1957), dtype: float64

In [34]:
#find the correlations between all the movies in the entire dataset with angry men
similarMovies = movieRatings.corrwith(angryMen)

C:\Users\hp\Anaconda3\envs\tensorflw\lib\site-packages\numpy\lib\function_base.py:2551: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
C:\Users\hp\Anaconda3\envs\tensorflw\lib\site-packages\numpy\lib\function_base.py:2480: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

In [35]:
similarMovies

title
'Til There Was You (1997)               -0.500000
1-900 (1994)                                  NaN
101 Dalmatians (1996)                   -0.049890
12 Angry Men (1957)                      1.000000
187 (1997)                               0.666667
                                           ...
Young Guns II (1990)                    -0.361961
Young Poisoner's Handbook, The (1995)    0.144338
Zeus and Roxanne (1997)                  1.000000
unknown                                  1.000000
Á köldum klaka (Cold Fever) (1994)            NaN
Length: 1664, dtype: float64

In [37]:
#drop missing values
similarMovies = similarMovies.dropna()

In [41]:
#put our results in a dataframe
df = pd.DataFrame(similarMovies)

In [42]:
df

                                              0
title
'Til There Was You (1997)             -0.500000
101 Dalmatians (1996)                 -0.049890
12 Angry Men (1957)                    1.000000
187 (1997)                             0.666667
2 Days in the Valley (1996)            0.256625
...                                         ...
Young Guns (1988)                      0.068944
Young Guns II (1990)                  -0.361961
Young Poisoner's Handbook, The (1995)  0.144338
Zeus and Roxanne (1997)                1.000000
unknown                                1.000000

[1188 rows x 1 columns]

In [45]:
#movies similar to 12 angry men
similarMovies.sort_values(ascending = False)

title
Spirits of the Dead (Tre passi nel delirio) (1968)    1.0
Jefferson in Paris (1995)                             1.0
Double Happiness (1994)                               1.0
Nina Takes a Lover (1994)                             1.0
Dream With the Fishes (1997)                          1.0
                                                     ...
Bio-Dome (1996)                                      -1.0
House Arrest (1996)                                  -1.0
Hellraiser: Bloodline (1996)                         -1.0
For Richer or Poorer (1997)                          -1.0
Heaven's Prisoners (1996)                            -1.0
Length: 1188, dtype: float64

In [48]:
#check the statistics of our our original ratings data frame
movieStats = ratings.groupby('title').agg({'rating': [np.size, np.mean]})
movieStats.head()

                          rating
                            size      mean
title
'Til There Was You (1997)      9  2.333333
1-900 (1994)                   5  2.600000
101 Dalmatians (1996)        109  2.908257
12 Angry Men (1957)          125  4.344000
187 (1997)                    41  3.024390

In [51]:
#lets get rid of movies that were rated by 100 less people and sort by rating
popularMovies = movieStats['rating']['size'] >= 100
movieStats[popularMovies].sort_values([('rating', 'mean')], ascending = False)[:15]

                                       rating
                                         size      mean
title
Close Shave, A (1995)                     112  4.491071
Schindler's List (1993)                   298  4.466443
Wrong Trousers, The (1993)                118  4.466102
Casablanca (1942)                         243  4.456790
Shawshank Redemption, The (1994)          283  4.445230
Rear Window (1954)                        209  4.387560
Usual Suspects, The (1995)                267  4.385768
Star Wars (1977)                          583  4.358491
12 Angry Men (1957)                       125  4.344000
Citizen Kane (1941)                       198  4.292929
To Kill a Mockingbird (1962)              219  4.292237
One Flew Over the Cuckoo's Nest (1975)    264  4.291667
Silence of the Lambs, The (1991)          390  4.289744
North by Northwest (1959)                 179  4.284916
Godfather, The (1972)                     413  4.283293

In [52]:
#lets go ahead and make our new dataframe of movies similar to angry men based on this new dataframe
df = movieStats[popularMovies].join(pd.DataFrame(similarMovies, columns = ['similarity']))

C:\Users\hp\Anaconda3\envs\tensorflw\lib\site-packages\pandas\core\reshape\merge.py:643: UserWarning: merging between different levels can give an unintended result (2 levels on the left,1 on the right)
  warnings.warn(msg, UserWarning)

In [53]:
df.head()

                              (rating, size)  (rating, mean)  similarity
title
101 Dalmatians (1996)                    109        2.908257   -0.049890
12 Angry Men (1957)                      125        4.344000    1.000000
2001: A Space Odyssey (1968)             259        3.969112    0.178848
Absolute Power (1997)                    127        3.370079   -0.163455
Abyss, The (1989)                        151        3.589404    0.045374

In [55]:
df.sort_values(['similarity'], ascending = False)[:15]

,"(rating, size)","(rating, mean)",similarity
title,,,
12 Angry Men (1957),125,4.344000,1.000000
Ulee's Gold (1997),184,3.760870,0.619544
Rear Window (1954),209,4.387560,0.570513
Seven Years in Tibet (1997),155,3.458065,0.549939
Clerks (1994),148,3.804054,0.528173
Singin' in the Rain (1952),137,3.992701,0.520844
Vertigo (1958),179,4.251397,0.509460
Army of Darkness (1993),116,3.431034,0.477251
Mr. Smith Goes to Washington (1939),105,4.123810,0.470078
"First Wives Club, The (1996)",160,3.018750,0.466773
"Magnificent Seven, The (1954)",121,3.942149,0.463892
Good Will Hunting (1997),198,4.262626,0.463376
Beavis and Butt-head Do America (1996),156,2.788462,0.449292
"Manchurian Candidate, The (1962)",131,4.259542,0.424725
Like Water For Chocolate (Como agua para chocolate) (1992),148,3.804054,0.407507

# Item Based Collaborative Filtering

In [59]:
#now lets build a full blown movies recommender system using item based collaborative filtering
ratings.head()

   movie_id             title  user_id  rating
0         1  Toy Story (1995)      308       4
1         1  Toy Story (1995)      287       5
2         1  Toy Story (1995)      148       4
3         1  Toy Story (1995)      280       4
4         1  Toy Story (1995)       66       3

In [60]:
movieRatings.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
user_id,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,2.0,5.0,NaN,NaN,3.0,4.0,NaN,NaN,...,NaN,NaN,NaN,5.0,3.0,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,2.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,4.0,NaN

In [66]:
userRatings = movieRatings

In [67]:
#find the correlations between all the movies in the entire dataset with any movie pair
corrMatrix = userRatings.corr()

In [65]:
corrMatrix.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
title,,,,,,,,,,,,,,,,,,,,,
'Til There Was You (1997),1.0,NaN,-1.000000,-0.500000,-0.500000,0.522233,NaN,-0.426401,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1-900 (1994),NaN,1.0,NaN,NaN,NaN,NaN,NaN,-0.981981,NaN,NaN,...,NaN,NaN,NaN,-0.944911,NaN,NaN,NaN,NaN,NaN,NaN
101 Dalmatians (1996),-1.0,NaN,1.000000,-0.049890,0.269191,0.048973,0.266928,-0.043407,NaN,0.111111,...,NaN,-1.000000,NaN,0.158840,0.119234,0.680414,0.000000,0.707107,NaN,NaN
12 Angry Men (1957),-0.5,NaN,-0.049890,1.000000,0.666667,0.256625,0.274772,0.178848,NaN,0.457176,...,NaN,NaN,NaN,0.096546,0.068944,-0.361961,0.144338,1.000000,1.0,NaN
187 (1997),-0.5,NaN,0.269191,0.666667,1.000000,0.596644,NaN,-0.554700,NaN,1.000000,...,NaN,0.866025,NaN,0.455233,-0.500000,0.500000,0.475327,NaN,NaN,NaN

In [70]:
#lets remove movie similarities that less than 100 people rated both of those movies
corrMatrix = userRatings.corr(method = 'pearson', min_periods = 100)

In [71]:
corrMatrix.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
title,,,,,,,,,,,,,,,,,,,,,
'Til There Was You (1997),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1-900 (1994),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101 Dalmatians (1996),NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12 Angry Men (1957),NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187 (1997),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [75]:
#Now lets create a fake person to create reommendations for
myRatings = userRatings.iloc[0].dropna()

In [76]:
myRatings

title
101 Dalmatians (1996)                  2.0
12 Angry Men (1957)                    5.0
20,000 Leagues Under the Sea (1954)    3.0
2001: A Space Odyssey (1968)           4.0
Abyss, The (1989)                      3.0
                                      ...
Wizard of Oz, The (1939)               4.0
Wrong Trousers, The (1993)             5.0
Young Frankenstein (1974)              5.0
Young Guns (1988)                      3.0
unknown                                4.0
Name: 1, Length: 271, dtype: float64

In [86]:
#lets go through every movie this person rated
simCandidates = pd.Series()
for i in range(0, len(myRatings.index)):
    print('Adding sims for ' + myRatings.index[i] + '...')
    #retrieve similar movies to this one that i rated
    sims = corrMatrix[myRatings.index[i]].dropna()
    #now scale its similarity by how well the user rated this movie and gives strenght to movies similar to the ones the user liked and less strenght to movies similar to the ones the user did not like
    sims = sims.map(lambda x: x * myRatings[i])
    #add the score to the list of similarity candidates
    simCandidates = simCandidates.append(sims)

#glance at our results so far:
print('sorting...')
simCandidates.sort_values(inplace = True, ascending = False)
print(simCandidates)

C:\Users\hp\Anaconda3\envs\tensorflw\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

Adding sims for 101 Dalmatians (1996)...
Adding sims for 12 Angry Men (1957)...
Adding sims for 20,000 Leagues Under the Sea (1954)...
Adding sims for 2001: A Space Odyssey (1968)...
Adding sims for Abyss, The (1989)...
Adding sims for Ace Ventura: Pet Detective (1994)...
Adding sims for Air Bud (1997)...
Adding sims for Akira (1988)...
Adding sims for Aladdin (1992)...
Adding sims for Alien (1979)...
Adding sims for Aliens (1986)...
Adding sims for All Dogs Go to Heaven 2 (1996)...
Adding sims for Amadeus (1984)...
Adding sims for Angels and Insects (1995)...
Adding sims for Antonia's Line (1995)...
Adding sims for Apocalypse Now (1979)...
Adding sims for Apollo 13 (1995)...
Adding sims for Aristocats, The (1970)...
Adding sims for Army of Darkness (1993)...
Adding sims for Austin Powers: International Man of Mystery (1997)...
Adding sims for Babe (1995)...
Adding sims for Back to the Future (1985)...
Adding sims for Bad Boys (1995)...
Adding sims for Basic Instinct (1992)...
Adding sims for Batman & Robin (1997)...
Adding sims for Batman Forever (1995)...
Adding sims for Batman Returns (1992)...
Adding sims for Beavis and Butt-head Do America (1996)...
Adding sims for Bedknobs and Broomsticks (1971)...
Adding sims for Belle de jour (1967)...
Adding sims for Big Night (1996)...
Adding sims for Billy Madison (1995)...
Adding sims for Birdcage, The (1996)...
Adding sims for Blade Runner (1982)...
Adding sims for Blues Brothers, The (1980)...
Adding sims for Bound (1996)...
Adding sims for Bram Stoker's Dracula (1992)...
Adding sims for Braveheart (1995)...
Adding sims for Brazil (1985)...
Adding sims for Breakfast at Tiffany's (1961)...
Adding sims for Breaking the Waves (1996)...
Adding sims for Bridge on the River Kwai, The (1957)...
Adding sims for Brother Minister: The Assassination of Malcolm X (1994)...
Adding sims for Brothers McMullen, The (1995)...
Adding sims for Cable Guy, The (1996)...
Adding sims for Cape Fear (1991)...
Adding sims for Carlito's Way (1993)...
Adding sims for Chasing Amy (1997)...
Adding sims for Cinema Paradiso (1988)...
Adding sims for Citizen Kane (1941)...
Adding sims for Citizen Ruth (1996)...
Adding sims for Clerks (1994)...
Adding sims for Clockwork Orange, A (1971)...
Adding sims for Cold Comfort Farm (1995)...
Adding sims for Contact (1997)...
Adding sims for Copycat (1995)...
Adding sims for Crimson Tide (1995)...
Adding sims for Crow, The (1994)...
Adding sims for Crumb (1994)...
Adding sims for Cyrano de Bergerac (1990)...
Adding sims for D3: The Mighty Ducks (1996)...
Adding sims for Dances with Wolves (1990)...
Adding sims for Dead Man Walking (1995)...
Adding sims for Dead Poets Society (1989)...
Adding sims for Delicatessen (1991)...
Adding sims for Desperado (1995)...
Adding sims for Devil's Own, The (1997)...
Adding sims for Diabolique (1996)...
Adding sims for Die Hard (1988)...
Adding sims for Die Hard 2 (1990)...
Adding sims for Dirty Dancing (1987)...
Adding sims for Disclosure (1994)...
Adding sims for Dolores Claiborne (1994)...
Adding sims for Doom Generation, The (1995)...
Adding sims for Eat Drink Man Woman (1994)...
Adding sims for Ed Wood (1994)...
Adding sims for Empire Strikes Back, The (1980)...
Adding sims for Event Horizon (1997)...
Adding sims for Evil Dead II (1987)...
Adding sims for Exotica (1994)...
Adding sims for Fargo (1996)...
Adding sims for Faster Pussycat! Kill! Kill! (1965)...
Adding sims for Field of Dreams (1989)...
Adding sims for Fifth Element, The (1997)...
Adding sims for Firm, The (1993)...
Adding sims for Fish Called Wanda, A (1988)...
Adding sims for Flipper (1996)...
Adding sims for Forrest Gump (1994)...
Adding sims for Four Rooms (1995)...
Adding sims for Four Weddings and a Funeral (1994)...
Adding sims for Free Willy (1993)...
Adding sims for Free Willy 2: The Adventure Home (1995)...
Adding sims for French Twist (Gazon maudit) (1995)...
Adding sims for Frighteners, The (1996)...
Adding sims for From Dusk Till Dawn (1996)...
Adding sims for Fugitive, The (1993)...
Adding sims for Full Metal Jacket (1987)...
Adding sims for Full Monty, The (1997)...
Adding sims for Gattaca (1997)...
Adding sims for George of the Jungle (1997)...
Adding sims for Get Shorty (1995)...
Adding sims for Ghost and the Darkness, The (1996)...
Adding sims for Glengarry Glen Ross (1992)...
Adding sims for Godfather, The (1972)...
Adding sims for Godfather: Part II, The (1974)...
Adding sims for GoldenEye (1995)...
Adding sims for Gone with the Wind (1939)...
Adding sims for Good Will Hunting (1997)...
Adding sims for Good, The Bad and The Ugly, The (1966)...
Adding sims for GoodFellas (1990)...
Adding sims for Graduate, The (1967)...
Adding sims for Grand Day Out, A (1992)...
Adding sims for Grosse Pointe Blank (1997)...
Adding sims for Groundhog Day (1993)...
Adding sims for Haunted World of Edward D. Wood Jr., The (1995)...
Adding sims for Heavy Metal (1981)...
Adding sims for Henry V (1989)...
Adding sims for Home Alone (1990)...
Adding sims for Homeward Bound: The Incredible Journey (1993)...
Adding sims for Hoop Dreams (1994)...
Adding sims for Horseman on the Roof, The (Hussard sur le toit, Le) (1995)...
Adding sims for Hot Shots! Part Deux (1993)...
Adding sims for Hudsucker Proxy, The (1994)...
Adding sims for Hunt for Red October, The (1990)...
Adding sims for I.Q. (1994)...
Adding sims for In the Company of Men (1997)...
Adding sims for Independence Day (ID4) (1996)...
Adding sims for Indiana Jones and the Last Crusade (1989)...
Adding sims for Jaws (1975)...
Adding sims for Jean de Florette (1986)...
Adding sims for Jerry Maguire (1996)...
Adding sims for Jude (1996)...
Adding sims for Jungle2Jungle (1997)...
Adding sims for Jurassic Park (1993)...
Adding sims for Kansas City (1996)...
Adding sims for Kids in the Hall: Brain Candy (1996)...
Adding sims for Kolya (1996)...
Adding sims for Kull the Conqueror (1997)...
Adding sims for Last of the Mohicans, The (1992)...
Adding sims for Lawnmower Man, The (1992)...
Adding sims for Legends of the Fall (1994)...
Adding sims for Lion King, The (1994)...
Adding sims for Lone Star (1996)...
Adding sims for Long Kiss Goodnight, The (1996)...
Adding sims for Lost World: Jurassic Park, The (1997)...
Adding sims for Love Bug, The (1969)...
Adding sims for M*A*S*H (1970)...
Adding sims for Mad Love (1995)...
Adding sims for Madness of King George, The (1994)...
Adding sims for Manon of the Spring (Manon des sources) (1986)...
Adding sims for Mars Attacks! (1996)...
Adding sims for Mask, The (1994)...
Adding sims for Maverick (1994)...
Adding sims for Maya Lin: A Strong Clear Vision (1994)...
Adding sims for Men in Black (1997)...
Adding sims for Mighty Aphrodite (1995)...
Adding sims for Mimic (1997)...
Adding sims for Mirror Has Two Faces, The (1996)...
Adding sims for Moll Flanders (1996)...
Adding sims for Monty Python and the Holy Grail (1974)...
Adding sims for Monty Python's Life of Brian (1979)...
Adding sims for Mr. Holland's Opus (1995)...
Adding sims for Mr. Smith Goes to Washington (1939)...
Adding sims for Much Ado About Nothing (1993)...
Adding sims for Muppet Treasure Island (1996)...
Adding sims for My Best Friend's Wedding (1997)...
Adding sims for Mystery Science Theater 3000: The Movie (1996)...
Adding sims for Nadja (1994)...
Adding sims for Natural Born Killers (1994)...
Adding sims for Net, The (1995)...
Adding sims for Nightmare Before Christmas, The (1993)...
Adding sims for Nightmare on Elm Street, A (1984)...
Adding sims for Nikita (La Femme Nikita) (1990)...
Adding sims for On Golden Pond (1981)...
Adding sims for Operation Dumbo Drop (1995)...
Adding sims for Outbreak (1995)...
Adding sims for Patton (1970)...
Adding sims for Phenomenon (1996)...
Adding sims for Pillow Book, The (1995)...
Adding sims for Pink Floyd - The Wall (1982)...
Adding sims for Platoon (1986)...
Adding sims for Postino, Il (1994)...
Adding sims for Priest (1994)...
Adding sims for Princess Bride, The (1987)...
Adding sims for Private Benjamin (1980)...
Adding sims for Professional, The (1994)...
Adding sims for Psycho (1960)...
Adding sims for Pulp Fiction (1994)...
Adding sims for Quiz Show (1994)...
Adding sims for Raging Bull (1980)...
Adding sims for Raiders of the Lost Ark (1981)...
Adding sims for Raising Arizona (1987)...
Adding sims for Ref, The (1994)...
Adding sims for Remains of the Day, The (1993)...
Adding sims for Reservoir Dogs (1992)...
Adding sims for Return of the Jedi (1983)...
Adding sims for Return of the Pink Panther, The (1974)...
Adding sims for Richard III (1995)...
Adding sims for Ridicule (1996)...
Adding sims for Right Stuff, The (1983)...
Adding sims for Robert A. Heinlein's The Puppet Masters (1994)...
Adding sims for Rock, The (1996)...
Adding sims for Room with a View, A (1986)...
Adding sims for Rumble in the Bronx (1995)...
Adding sims for Santa Clause, The (1994)...
Adding sims for Searching for Bobby Fischer (1993)...
Adding sims for Seven (Se7en) (1995)...
Adding sims for Sgt. Bilko (1996)...
Adding sims for Shall We Dance? (1996)...
Adding sims for Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)...
Adding sims for Shawshank Redemption, The (1994)...
Adding sims for Shining, The (1980)...
Adding sims for Silence of the Lambs, The (1991)...
Adding sims for Sleeper (1973)...
Adding sims for Sleepless in Seattle (1993)...
Adding sims for Sling Blade (1996)...
Adding sims for Smilla's Sense of Snow (1997)...
Adding sims for Sneakers (1992)...
Adding sims for Snow White and the Seven Dwarfs (1937)...
Adding sims for So I Married an Axe Murderer (1993)...
Adding sims for Sound of Music, The (1965)...
Adding sims for Spitfire Grill, The (1996)...
Adding sims for Star Trek III: The Search for Spock (1984)...
Adding sims for Star Trek IV: The Voyage Home (1986)...
Adding sims for Star Trek VI: The Undiscovered Country (1991)...
Adding sims for Star Trek: First Contact (1996)...
Adding sims for Star Trek: The Wrath of Khan (1982)...
Adding sims for Star Wars (1977)...
Adding sims for Stargate (1994)...
Adding sims for Starship Troopers (1997)...
Adding sims for Steel (1997)...
Adding sims for Sting, The (1973)...
Adding sims for Strange Days (1995)...
Adding sims for Striptease (1996)...
Adding sims for Supercop (1992)...
Adding sims for Swingers (1996)...
Adding sims for Taxi Driver (1976)...
Adding sims for Terminator 2: Judgment Day (1991)...
Adding sims for Terminator, The (1984)...
Adding sims for Theodore Rex (1995)...
Adding sims for This Is Spinal Tap (1984)...
Adding sims for Three Colors: Blue (1993)...
Adding sims for Three Colors: Red (1994)...
Adding sims for Three Colors: White (1994)...
Adding sims for To Wong Foo, Thanks for Everything! Julie Newmar (1995)...
Adding sims for Top Gun (1986)...
Adding sims for Toy Story (1995)...
Adding sims for True Romance (1993)...
Adding sims for Truth About Cats & Dogs, The (1996)...
Adding sims for Turbo: A Power Rangers Movie (1997)...
Adding sims for Twelve Monkeys (1995)...
Adding sims for Twister (1996)...
Adding sims for Unbearable Lightness of Being, The (1988)...
Adding sims for Under Siege (1992)...
Adding sims for Unforgiven (1992)...
Adding sims for Unhook the Stars (1996)...
Adding sims for Usual Suspects, The (1995)...
Adding sims for Wallace & Gromit: The Best of Aardman Animation (1996)...
Adding sims for Weekend at Bernie's (1989)...
Adding sims for Welcome to the Dollhouse (1995)...

Adding sims for What's Eating Gilbert Grape (1993)...
Adding sims for When Harry Met Sally... (1989)...
Adding sims for When the Cats Away (Chacun cherche son chat) (1996)...
Adding sims for While You Were Sleeping (1995)...
Adding sims for White Balloon, The (1995)...
Adding sims for Willy Wonka and the Chocolate Factory (1971)...
Adding sims for Wizard of Oz, The (1939)...
Adding sims for Wrong Trousers, The (1993)...
Adding sims for Young Frankenstein (1974)...
Adding sims for Young Guns (1988)...
Adding sims for unknown...
sorting...
Young Frankenstein (1974)                 5.000000
Monty Python and the Holy Grail (1974)    5.000000
Mars Attacks! (1996)                      5.000000
Lone Star (1996)                          5.000000
Kolya (1996)                              5.000000
                                            ...
First Wives Club, The (1996)             -0.972480
Clockwork Orange, A (1971)               -1.060942
Annie Hall (1977)                        -1.090151
English Patient, The (1996)              -1.294072
Twister (1996)                           -1.296409
Length: 12446, dtype: float64

In [82]:
#we are getting some duplicate values because if we have movies that are similar to more than
#one movie the user rated it will come back more than one
#so we add the duplicates together these duplicates to have a higher correlation score
#simCandidates = simCandidates.groupby(simCandidates.index).sum()

In [91]:
simCandidates.sort_values(inplace = True, ascending = False)
simCandidates.head(100)

Young Frankenstein (1974)         5.0
Professional, The (1994)          5.0
Terminator, The (1984)            5.0
Princess Bride, The (1987)        5.0
When Harry Met Sally... (1989)    5.0
                                 ...
Raging Bull (1980)                4.0
Quiz Show (1994)                  4.0
Pulp Fiction (1994)               4.0
Reservoir Dogs (1992)             4.0
Firm, The (1993)                  4.0
Length: 100, dtype: float64

In [93]:
#there you have it!